@media (max-width: 375px) {
  .header {
    width: 375px;
  }

}
button {
  border-radius: 0px;
}

input {
  border-radius: 0 !important;
  border: 1.5px solid #d6ddeb;
}

select {
  border-radius: 0 !important;
  border: 1.5px solid #d6ddeb;
}
.form-control::placeholder {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;

  color: #a8adb7;
}

thead {
  margin-bottom: 10px;
}

.yellowStar {
  /* background-color: yellow; */
  background-color: yellow;
  color: yellow;
  fill: yellow;
}
.filled {
  color: yellow;
}
th .rounded {
  border-top-left-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 15px;
}

.Interviewed {
  color: #26a4ff;
  border: 2px solid #26a4ff;
}
.Shortlisted {
  color: #4640de;
  border: 2px solid #4640de;
}
.Inreview {
  color: #ffb836;
  border: 2px solid #ffb836;
}
.Declined {
  color: #ff6550;
  border: 2px solid #ff6550;
}
.Hired {
  color: #56cdad;
  border: 2px solid #56cdad;
}
.candidateDetails {
  /* Body/Normal - Medium */

  font-family: "Epilogue";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutrals/100 */

  color: #25324b;
}
.tableHeader {
  /* Body/Normal - Regular */

  font-family: "Epilogue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */

  /* Neutrals/60 */

  color: #7c8493;
}

.title {
  /* width: 700px; */
  height: 38px;

  font-family: "Clash Display";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;

  display: flex;
  align-items: center;

  margin: 0px;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

/* Media query for larger devices */
@media (min-width: 1350px) {
  .container {
    max-width: 1550px;
  }
}
@media (min-width: 1500px) {
  .container {
    max-width: 1700px;
  }
}

.yrs {
  /* box-sizing: border-box; */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 8px;
  border: 1px solid #d6ddeb;
  gap: 8px;

  width: 90px;
  height: 50px;
  position: relative;
  bottom: 10px;
}
.yrsBox {
  padding-top: 17px;
  padding-bottom: 45px;
  display: flex;
  width: 228px;
  justify-content: space-between;
  gap: 80px;

  height: 28px;

  justify-content: space-between;
}
.vl_slider {
  border-left: 2px solid #d6d8dd;
  height: 25px;
  position: relative;
  margin-top: 6px;
}
.sec_title {
  /* width: 228px; */
  height: 28px;

  /* Body/Normal - SemiBold */

  font-family: "Epilogue";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;

  display: flex;
  align-items: center;

  flex: none;
  order: 0;
  flex-grow: 0;
}
@media (max-width: 730px) {
  .block {
    display: block;
  }
}
.annualSalary {
  display: flex;
  flex-direction: row;
}
@media (max-width: 468px) {
  .input {
    width: max-content !important;
    /* background-color: red; */
  }
  .annualSalary {
    display: flex;
    flex-direction: column;
  }
  .view {
    display: flex;
    flex-direction: column;
  }
}
.salary {
  width: 156px;
  white-space: nowrap;
}
.input {
  width: 430px;
}

@media (max-width: 960px) {
  .disCol {
    display: flex;
    flex-direction: column;
  }
}

.info {
  padding-top: 20px;
  /* padding-bottom: 20px; */
}
@media (min-width: 700px) {
  .mainTitle {
    position: relative;
    right: 100px;
  }
}
.icons {
  display: flex;
  width: 200px;
  justify-content: space-between;
}
.bottom {
  display: flex;
  margin: 2.9vw 0;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .icons {
    position: absolute;
    right: 0;
  }
}
@media (max-width: 500px) {
  .bottom {
    display: flex;
    flex-direction: column;
  }
}
.sidenav {
  font-family: Clash Display;
  font-size: 20px;
  font-weight: 550;
  line-height: 5vw;
  cursor: pointer;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #6760eb transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}