<mat-toolbar color="primary">
   <mat-icon style="margin-right: 10px;">home</mat-icon>
  
    <span style="    font-family: Clash Display;
    font-size:20px;
    font-weight: 600;
    line-height: 5vw;">
    Recruiter Genie
      </span>
    <span class="example-spacer"></span>
    <div style="position:absolute;right: 0px;">
      <button  style="width: 100px;margin-right: 10px;    font-family: 'Epilogue'; font-weight:600;
      font-size: 1.1vw;
      " mat-raised-button routerLink="/login"><span style="font-size:15px;">Sign In</span></button>
    </div>
  </mat-toolbar>
<div style="background-color: #F8F8FD;">
  <div style="margin: 20px;margin-left: 40px;">
    <img class="logo" src="../../../assets/jobGenieLogo.png" alt="">
  </div>
  <div class="container ">
    <div class="text">
        <div class="heading">
            <h2>ATS For Ambitious</h2>
            <h2 style="color: #26A4FF;">Recruiters</h2> 
        </div>

        <p>Recruiter Genie is the complete ecosystem that helps you run and scale your recruiting & staffing business.</p>
        <button class="button" mat-raised-button color="primary" routerLink="/login">Get Started</button>


    </div>
</div>
</div>
<div routerLink="/home">
  <div class="container">
      <div class="text">
          <h5>Features</h5>
          <h3>Purpose built for recruiting agencies</h3>
          <p>Get a complete suite of recruitment tools, so your team know exactly when they need to dig a little deeper or to automate tasks quickly.</p>
      </div>
      <div class="cards">
          <div class="card">
              <img src="../../../../assets/Featured icon.png" alt="">
              <h4>Manage recruitment process</h4>
              <p>Shortlist candidates according to the requirements and schedule the recruitment process with the companies</p>
          </div>
          <div class="card">
              <img src="../../../../assets/Featured icon-1.png" alt="">
              <h4>Shortlist candidates rapidly</h4>
              <p>Filter candidates according to their specification and experience</p>
          </div>
          <div class="card">
              <img src="../../../../assets/Featured icon-2.png" alt="">
              <h4>Deliver suitable candidates in real-time</h4>
              <p>Use our large database to get your suitable candidates faster</p>
          </div>
          <div class="card">
              <img src="../../../../assets/Featured icon-3.png" alt="">
              <h4>Track real time status of the interviews</h4>
              <p>Access all details about the interviews, and see the reviews by the interviewer</p>
          </div>
          <div class="card">
              <img src="../../../../assets/Featured icon-4.png" alt="">
              <h4>Our people make all the difference</h4>
              <p>High quality recruiters to understand your domain and business</p>
          </div>
          <div class="card">
              <img src="../../../../assets/Featured icon-5.png" alt="">
              <h4>Fastest hiring for startups</h4>
              <p>Whether you are a startup or large enterprise, we deliver rapid results</p>
          </div>
      </div>
  </div>
</div>
<mat-toolbar color="primary">
  <div class="bottom">
    <p>2023 @ Recruiter Genie.</p>
    <div class="icons">
        <a href="#"><i class="fa-brands fa-facebook" style="color:white;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color:white;"></i></a>
        <a href="#"><i class="fa-solid fa-basketball" style="color:white;"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin" style="color:white;"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" style="color:white;"></i></a>            
    </div>
</div>
 </mat-toolbar>

  