<mat-toolbar color="primary">
   <mat-icon style="margin-right: 10px;">home</mat-icon>
  
    <span style="    font-family: Clash Display;
    font-size:20px;
    font-weight: 600;
    line-height: 5vw;">
    Recruiter Genie
      </span>
    <span class="example-spacer"></span>
    <div style="position:absolute;right: 0px;">
      <button  style="width: 100px;margin-right: 10px;    font-family: 'Epilogue'; font-weight:600;
      font-size: 1.1vw;
      " mat-raised-button routerLink="/login"><span style="font-size:15px;">Sign In</span></button>
    </div>
  </mat-toolbar>
<div style="background-color: #F8F8FD;">
  <div style="margin: 20px;margin-left: 40px;">
    <img class="logo" src="../../../assets/jobGenieLogo.jpg" alt="">
  </div>
  <div class="container ">
    <div class="text">
        <div class="heading" style="text-align: center;">
            <h2>
              Elevate Ambitious Recruiters:</h2>
            <h2 style="color: #26A4FF;">ATS Powerhouse</h2> 
        </div>

        <p style="text-align: center;">Recruiter Genie offers a comprehensive ecosystem designed to empower and expand your recruiting and staffing enterprise.</p>
        <button class="button" mat-raised-button color="primary" routerLink="/login">Get Started</button>


    </div>
</div>
</div>
<div routerLink="/home">
  <div class="container">
      <div class="text">
          <h5>Features</h5>
          <h3>Purpose built for recruiting agencies</h3>
          <p style="text-align: center;">Equip your team with a comprehensive recruitment suite, enabling precise analysis and effortless task automation.</p>
      </div>
      <div class="cards">
          <div class="card">
              <h4>Manage recruitment process</h4>
              <p>Efficiently filter candidates and streamline recruitment by aligning schedules with partnering companies.</p>
          </div>
          <div class="card">
              <h4>Shortlist candidates rapidly</h4>
              <p>Refine candidate selection based on specifications and experience effortlessly.</p>
          </div>
          <div class="card">
              <h4>Deliver suitable candidates in real-time</h4>
              <p>Leverage our extensive database for accelerated candidate sourcing.</p>
          </div>
          <div class="card">
              <h4>Track real time status of the interviews</h4>
              <p>Gain comprehensive access to interview details and reviewer feedback for informed decision-making.</p>
          </div>
          <div class="card">
              <h4>Our people make all the difference</h4>
              <p>Engage top-notch recruiters with deep domain expertise to grasp your industry and business intricacies.</p>
          </div>
          <div class="card">
              <h4>Fastest hiring for startups</h4>
              <p>Delivering swift outcomes, regardless of your organization's size—be it a startup or a large enterprise.</p>
          </div>
      </div>
  </div>
</div>
<mat-toolbar color="primary">
  <div class="bottom">
    <p>2023 @ Recruiter Genie.</p>
    <div class="icons">
        <a href="#"><i class="fa-brands fa-facebook" style="color:white;"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color:white;"></i></a>
        <a href="#"><i class="fa-solid fa-basketball" style="color:white;"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin" style="color:white;"></i></a>
        <a href="#"><i class="fa-brands fa-twitter" style="color:white;"></i></a>            
    </div>
</div>
 </mat-toolbar>

  